<div class="container-news">

<div class="news">
  <div>
  <h3><%= link_to_article article %></h3>
  </div>

  <div>

    <%= html_transform article.body %>

    <% article %>
  </div>
  <div>
    <% if @article.tags.present? %>
      <%= I18n.t(:tags) %> 
      <%= raw @article.tags.split(',').map { |tag|  link_to(tag, news_tag_path(tag), :rel => 'tag')}.join(', ') %>
    <% end %>
    <span class="date"><%= I18n.t(:posted) %> @ <%= I18n.l article.date %></span>    
  </div>

  <div>
    <% if @article.previous %>
  	<div class="alignleft"><%= I18n.t(:next) %> : <%= link_to_article @article.previous %></div>
  	<% end %>
    <% if @article.next %>
  	<div class="alignright"><%= I18n.t(:previous) %> : <%= link_to_article @article.next %> </div>
  	<% end %>
  	<br class="clear" />
  </div>
</div>

<% if has_products? %>
  <%= render 'product_box' , :products =>  @products  %>
<% end %>


<% if has_image? %>
  <%= render 'image_box'  %>
<% end %>

</div>


