<div class="prodinfo2">
	     <div class="prodimage"> 
		<%= link_to small_image(product), product %>
	 </div>
	<div class="prodinfo3">

	  <h3><%= @product.name %></h3>
 	  <%= raw @product.description[0 ... 150] + "..." %>
	 </div>
</div>

<div class="prodinfo2">
	     <div class="prodimage"> 
		<%= link_to small_image(product), product %>
	 </div>
	<div class="prodinfo3">

	  <h3><%= @product.name %></h3>
 	  <%= raw @product.description[0 ... 150] + "..." %>
	 </div>
</div>
