
<% self.title = I18n.t(:news_title) %>

<div class="container-news">
<% if params[:tag] %>
	<h2 class="pagetitle"><%= I18n.t(:tagged) %> &lsquo;<%= params[:tag] %>&rsquo;</h2>
<% elsif params[:year]  %>
	<h2 class="pagetitle"><%= I18n.t(:archive_for) %> <%= params[:year].to_i %>, <%= params[:year].to_i %></h2>
<% end %>

<%= render 'article', :article => @article %>
<%= render :partial => 'article_small', :collection => @articles %>

<% if @total_pages %>

<div class="navigation">
  <% if @total_pages > 1 && @current_page < @total_pages %>
		<div class="alignleft"><a href="<%= url_for(:overwrite_params => {:page => @current_page + 1}) %>" >&laquo; <%= I18n.t(:older_entries) %></a></div>
	<% end %>
	<% if @current_page > 1 %>
		<div class="alignright"><a href="<%= url_for(:overwrite_params => {:page => @current_page - 1}) %>" ><%= I18n.t(:older_entries) %> &raquo;</a></div>
	<% end %>
	<br class="clear" />
</div>
<% end %>
	
<% content_for :sidebar do %>

  <%= render 'sidebar' %>

<% end %>
</div>
<br class="clear" />
